<div class="container mt-5 mb-5">
    
    <h1 class="text-center"> About</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque perferendis atque ex corrupti odit. Atque blanditiis explicabo doloremque dolores recusandae. Similique ab repellat ut optio sapiente incidunt perferendis debitis reiciendis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat minus, aperiam quidem veniam fugit explicabo totam temporibus animi! Necessitatibus fuga exercitationem sit ut eligendi eveniet autem magnam omnis suscipit laborum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis voluptatum laboriosam provident quam illo ipsum eveniet, iusto hic est error aut sit in blanditiis labore rem fugiat, repellendus fuga? Laudantium.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatum eius adipisci, eaque quo mollitia provident id quam maxime ab labore non! Iure aspernatur quia impedit alias voluptas molestias consequatur.
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eos earum cupiditate, odio possimus quia explicabo ad? Reiciendis, quisquam dicta corporis ut quos perferendis nostrum veritatis minima, deserunt dignissimos reprehenderit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias maxime fugit quisquam sit in aliquam, reprehenderit, minima dolorem quos porro dolore earum iure perferendis at mollitia. Veritatis quibusdam consectetur aspernatur.
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus nesciunt atque ipsam necessitatibus. Illo asperiores placeat fugiat aut voluptas sit animi doloribus enim esse, blanditiis tenetur dignissimos beatae adipisci magnam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In quidem sint harum quod obcaecati voluptatem non provident saepe dicta suscipit aut laborum unde error quo, dignissimos, est omnis nobis ipsa?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum suscipit iusto nobis ad, praesentium deleniti, quae reiciendis, voluptate impedit beatae aspernatur neque. Omnis ea placeat nobis ducimus! Quas, quod repellendus?
        <br/>
    </p>
</div>